
/* Chart config */

.chart-legend { -fx-background-color: transparent; }
.chart-legend-item-symbol { -fx-background-radius: 0; }
.chart-plot-background { -fx-background-color: transparent; }
.chart-alternative-row-fill { -fx-fill: transparent; -fx-stroke: transparent; -fx-stroke-width: 0; }